# Environment-specific files and directories
Environments/*

# Localizations / Translations
*.mo

# Logs
Logs/*
**/*.log

# Translation
*.mo

# Database files
Database/postgres-data
db.sqlite3

# Python environment and cache files
**/env/
**/__pycache__/
venv
Backend/src/db.sqlite3

# Environment variables
.transcendence_env_path
*.env
example.enviroment

# VS-CODE
.vscode/

# Migrations
Backend/src/authentication/migrations/*
Backend/src/chat/migrations/*
Backend/src/user/migrations/*