#TODO: Do we need all those sections?

# Environment-specific files and directories
Environments/*

# Logs
Logs/*
**/*.log

# Database files
Database/postgres-data
db.sqlite3

# Python environment and cache files
**/env/
**/__pycache__/
venv
Backend/src/db.sqlite3

# Environment variables
.transcendence_env_path
*.env
example.enviroment

# VS-CODE
.vscode/
